<div class="wrapper" ng-controller="HomePageController">
    <div class="section-hp">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>id</th>
                                <th>name</th>
                                <th>surname</th>
                                <th>date of birth</th>
                                <th>mobile number</th>
                                <th>address (city + street + house number)</th>
                                <th>
                                    <button type="button" ng-click="hp.fn.editSelected()" ng-disabled="hp.selectedCheck.length == 0" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit selected</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in hp.data.users" ng-init="hp.check[$index] = false">
                                <td><input type="checkbox" ng-change="hp.fn.changeSelected(item,$index);" ng-checked="hp.check[$index] || hp.editable[$index]" ng-model="hp.check[$index]" name="check_{{item.id}}"/></td>
                                <td>
                                    <p>{{item.id}}</p>
                                    <div class="form-group" ng-if="hp.editable[$index]">
                                        <input type="hidden" name="id_{{item.id}}" class="form-control" value="{{item.id}}"/>
                                    </div>
                                </td>
                                <td>
                                    <p ng-if="!hp.editable[$index]">{{item.name}}</p>
                                    <div class="form-group" ng-if="hp.editable[$index]">
                                        <input type="text" class="form-control" ng-model="item.name" name="name_{{item.id}}" value="{{item.name}}"/>
                                    </div>
                                </td>
                                <td>
                                    <p ng-if="!hp.editable[$index]">{{item.surname}}</p>
                                    <div class="form-group" ng-if="hp.editable[$index]">
                                        <input type="text" class="form-control" ng-model="item.surname" name="surname_{{item.id}}" value="{{item.surname}}"/>
                                    </div>
                                </td>
                                <td>
                                    <p ng-if="!hp.editable[$index]">{{item.birth}}</p>
                                    <div class="form-group" ng-if="hp.editable[$index]">
                                        <input type="text" class="form-control" ng-model="item.birth" name="birth_{{item.id}}" value="{{item.birth}}"/>
                                    </div>
                                </td>
                                <td>
                                    <p ng-if="!hp.editable[$index]">{{item.phone}}</p>
                                    <div class="form-group" ng-if="hp.editable[$index]">
                                        <input type="text" class="form-control" ng-model="item.phone" name="phone_{{item.id}}" value="{{item.phone}}"/>
                                    </div>
                                </td>
                                <td class="wide">
                                    <p ng-if="!hp.editable[$index]">{{item.city}}, {{item.street}} {{item.number}}</p>
                                    <div class="form-group" ng-if="hp.editable[$index]">
                                        <input type="text" class="form-control" ng-model="item.city" name="city_{{item.id}}" value="{{item.city}}"/>
                                        <input type="text" class="form-control" ng-model="item.street" name="street_{{item.id}}" value="{{item.street}}"/>
                                        <input type="text" class="form-control"  ng-model="item.number" name="number_{{item.id}}" value="{{item.number}}"/>
                                    </div>
                                </td>

                                <td>
                                    <div class="btn-group" ng-if="!hp.editable[$index]">
                                        <button type="button" ng-click="hp.fn.editUser(item,$index)" class="btn btn-primary" ng-model="hp.editable[$index]" ng-init="hp.editable[$index] = false" ><span class="glyphicon glyphicon-edit"></span> Edit</button>
                                        <button type="button" ng-click="hp.fn.deleteUser(item)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                                    </div>

                                    <div class="btn-group" ng-if="hp.editable[$index]">
                                        <button type="button" ng-click="hp.fn.saveUser(item,$index)" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save</button>
                                        <button type="button" ng-click="hp.fn.cancelEdit(item,$index)" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>